#content {
  width: 100%;
  text-align: center;
}


@-moz-keyframes rotate {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}
@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}

img.dogecoin {
  -moz-animation-name: rotate;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
