<!DOCTYPE html>
<html>
  <head>
    <title>FREE DOGE</title>
    <link rel="stylesheet" href="/static/base.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="/static/favicon.ico">
    {% if ANALYTICS_ID %}
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ ANALYTICS_ID }}', 'freedoge.com');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </head>
  <body>
    <div id="content">
      <h1>FREE DOGE!!!</h1>
      <h3><span class="green">{{ given_out }}</span> doge given out so far!</h3>
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}
      <img src="/static/dogecoin.png" class="dogecoin" />
      {% if balance %}
        <p>wow <span class="green">{{ balance }}</span> dogecoins left</p>
      {% elif balance == 0 %}
        <p class="error">no doge left in faucet :(</p>
      {% endif %}
      {% if not error and send_addr %}
        <p>Sent to {{ send_addr }}: <a href="http://dogechain.info/tx/{{ transaction }}" target="_blank">transaction</a></p>
      {% elif not hide_input and balance > 0 %}
        <div id="input-form">
          <form method="post">
            {% csrf_token %}
            <div class="form-line">
              <label for="addr">address:</label><input type="text" name="addr">
            </div>
            <div class="form-line">
              <script type="text/javascript" src="http://api.recaptcha.net/challenge?k=6Lckz-sSAAAAAHrB6fBm4EckGaLE2jzWY5bE4zWf"></script>
              <noscript>
                <iframe src="http://api.recaptcha.net/noscript?k=6Lckz-sSAAAAAHrB6fBm4EckGaLE2jzWY5bE4zWf" height="300" width="500" frameborder="0"></iframe><br>
                <textarea name="recaptcha_challenge_field" rows="3" cols="40">
                </textarea>
                <input type="hidden" name="recaptcha_response_field" value="manual_challenge">
              </noscript>
            </div>
            <div class="form-line">
              <button type="submit">get doge!</button>
            </div>
          </form>
        </div>
      {% endif %}
      <p>Refill faucet!  Donate: {{ FAUCET_ADDR }}</p>
      
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- faucet -->
      <ins class="adsbygoogle"
          style="display:inline-block;width:728px;height:90px"
          data-ad-client="ca-pub-8314080759163668"
          data-ad-slot="4853128648"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </body>
</html>
