* {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

#content {
  width: 100%;
  text-align: center;
}

.error {
  color: red;
}

.green {
  color: green;
}

label {
  margin-right: 5px;
}

input[name=addr] {
  width: 400px;
}

ins.adsbygoogle {
  margin-top: 10px;
}

#recaptcha_area {
  margin: 0 auto;
}

.form-line {
  display: inline-block;
  width: 100%;
  margin: 10px 0;
}

@-moz-keyframes rotate {
  from {-moz-transform: rotate(0deg);}
  to {-moz-transform: rotate(360deg);}
}
@-webkit-keyframes rotate {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);}
}

img.dogecoin {
  -moz-animation-name: rotate;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}
